.del {
    background: red;
    border-radius: 50%;
    float: right;
    color:white;
    cursor: pointer;
    border: none;
}

.todo {
    background: rgb(118, 226, 160);
    padding: 5px;
    border-bottom: 1px dotted #ffffff;

}

.isCompleted {

    text-decoration: line-through;
}